body{
    background: linear-gradient(to right, #060308, #3b1857, #894db9,#3b1857, #060308);
}
table.tbl{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    box-shadow: rgba(255, 255, 255) 0px 22px 70px 4px;
}
input[type="button"]{
    color: black;
    cursor: pointer;
    background-color: rgb(168, 212, 233);
    font-size: 2em;
    border: 4px solid rgb(255, 255, 255);
    border-radius:  54px;
    padding: 20px;
    width: 100%;
    margin: 10px 60px 10px 0px;
}
input[type="text"]{
    color: black;
    background: white;
    border: 1px solid rgb(208, 88, 219);
    border-radius:  14px;
    padding: 20px;
    font-size: 2em;
    width: 100%;
}
#clear{
    background: #d35cc9;
    border: 4px solid #ffffff;
    border-radius:  45px;
}
